<!DOCTYPE html>
<html lang="en">

    <head>

    </head>

    <body>
        <header>

        </header>
        <main class="container">
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
            </div>
            <div class="card-body">
                <h4 class="card-title">
                    <%= country %>
                </h4>
            </div>
        </main>
    </body>

</html>