<!DOCTYPE html>
<html>
    <body>
      <header>
        <%- include('../partials/header'); %>
      </header>

         <div class="main-content">
            <!--Start of NavBar-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
              <div class="container-fluid">
                <a class="navbar-brand" href="#">Adoption App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="#adoption">Adoption</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#account">Account</a>
                    </li>
                    
                  </ul>
                </div>
              </div>
            </nav>
            <!--End of NavBar-->

            <div>
                <!-- <img src="/image/dog-with-gel.png"> -->
            </div>

            <!--Adoption-->
            <div id="adoption" style="margin-top: 40%; margin-left: 30%;">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adoptdogModal">
                    Adopt a Dog
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adoptcatModal">
                    Adopt a Cat
                </button>

                <!--Adopt a Dog Modal -->
                <div class="modal fade" id="adoptdogModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">List of Dogs for Adoption</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <div>
                                
                            </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                    </div>
                </div>
                <!--Adopt a Cat End of Modal-->

                <!--Adopt a Cat Modal -->
                <div class="modal fade" id="adoptcatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        ...
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                    </div>
                </div>
                <!--Adopt a Cat End of Modal-->
            </div>
            <!--Adoption-->


            <!--Footer-->
            <div style="margin-top: 30%;">

            </div>
            <!--Footer-->



         </div>
    </body>
</html>